---
layout: blog
---

<div class='full documentation'>
  <div class='row'>
        <div class='images'>
          {% if page.image %}
            <div class='image' style="height:100px;"><img style="height:inherit" alt="" src="{{site.url}}/{{page.image}}" /></div>
          {% endif %}
        </div>
        <div class='content'>
          <p class='info'>


            <span>{{page.date | date: "%B %d, %Y" }}</span>
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          {{ content }}
            <p id="post-meta">


                <i class="fa fa-tag"></i>
                {% for tag in page.tags %}

                <a href="/blog/tags#{{tag | downcase}}">{{tag}}</a>,
                {% endfor %}
                <a href="/blog/tags"><em>Browse all tags</em></a>
            </p>
        </div>


      <div class='four spacing'></div>
    <div class='large-3 columns' id='toc'>
      {% include sidebar.html %}
    </div>
  </div>
</div>
